Analyses/avant
.Rhistory
.Ruserdata
.Rproj.user

P_Env_Quest/Include
P_Env_Quest/Lib
P_Env_Quest/man
P_Env_Quest/Scripts
P_Env_Quest/Share
P_Env_Quest/.pyenv.cfg
P_Env_Quest/resultpythonforqust.spydata

R_Env_Quest/.Rproj.user
R_Env_Quest/renv/*
R_Env_Quest/.Rhistory
R_Env_Quest/.Rprofile


